[Unit]
Description=Enapter Swap Init Service

ConditionPathExists=/user/etc/enapter/rwfs

DefaultDependencies=no

Before=local-fs.target
Wants=local-fs-pre.target
After=enapter-init-mount-fs.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/enapter-init-mkswap
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
