[Unit]
Description=Enapter Set Hostname Init Service

DefaultDependencies=no

After=local-fs.target
Requires=local-fs.target
After=systemd-hostnamed.service
Requires=systemd-hostnamed.service
Before=getty-pre.target
Before=avahi-daemon.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/enapter-init-sethostname
RemainAfterExit=yes

[Install]
WantedBy=local-fs.target
