[Unit]
Description=Enapter Password Configurator Service
ConditionPathExists=/user/etc/enapter/enapter-superuser-password.env
DefaultDependencies=no

Before=network-pre.target
Wants=network-pre.target

Wants=systemd-modules-load.service local-fs.target
After=systemd-modules-load.service local-fs.target

[Service]
EnvironmentFile=/user/etc/enapter/enapter-superuser-password.env
Type=oneshot
ExecStart=/usr/sbin/usermod --password "${SUPERUSER_PASSWORD_HASH}" enapter
ExecReload=/usr/sbin/usermod --password "${SUPERUSER_PASSWORD_HASH}" enapter
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
