[Unit]
Description=Enapter Journald Persistence Setup Service
ConditionPathExists=/user/etc/enapter/rwfs
DefaultDependencies=no

Before=systemd-journal-flush.service
Wants=systemd-modules-load.service enapter-init-mount-fs.service local-fs.target
After=systemd-modules-load.service enapter-init-mount-fs.service local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/enapter-journald-persistence
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
