[Unit]
Description=Enapter Journald Persistence Setup Service
ConditionPathExists=/user/etc/enapter/rwfs
DefaultDependencies=no

Before=systemd-journal-flush.service
After=systemd-modules-load.service
Wants=systemd-modules-load.service
After=enapter-init-mount-fs.service
Wants=enapter-init-mount-fs.service
After=local-fs.target
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/enapter-journald-persistence
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
