[Unit]
Description=Enapter Podman Prepare Service

After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/bin/enapter-podman-prepare
RemainAfterExit=yes
Type=oneshot
