[Unit]
Description=Enapter Network Configurator Service
DefaultDependencies=no

Before=network-pre.target
Wants=network-pre.target
After=systemd-modules-load.service
Wants=systemd-modules-load.service
After=local-fs.target
Wants=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/enapter-network-configurator
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
