[Unit]
Description=Enapter Update Manager Service
Wants=enapter-update-manager.timer
ConditionPathExists=/user/etc/enapter/rwfs
StartLimitIntervalSec=0

[Service]
EnvironmentFile=-/user/etc/enapter/enapter-services-overrides.env
Type=oneshot
RemainAfterExit=false

ExecStart=/usr/bin/enapter-update-manager

[Install]
WantedBy=multi-user.target default.target
