[Unit]
Description=Enapter Docker Compose Service
After=enapter-podman-prepare.service
Requires=enapter-podman-prepare.service
ConditionPathExists=/user/etc/docker-compose/docker-compose.yml
StartLimitIntervalSec=0

[Service]
Environment=DOCKER_HOST=http://127.0.0.1:8910
Type=oneshot
RemainAfterExit=true
TimeoutStopSec=30
RestartSec=10
Restart=on-failure
ExecStartPre=/usr/bin/enapter-wait-for-ports "127.0.0.1:8910" 900
ExecStartPre=/usr/bin/enapter-docker-compose-pre
ExecStart=/usr/bin/docker-compose -f /user/etc/docker-compose/docker-compose.yml up -d --remove-orphans --renew-anon-volumes
ExecStartPost=/usr/bin/enapter-docker-compose-post
ExecStop=/usr/bin/docker-compose -f /user/etc/docker-compose/docker-compose.yml down --remove-orphans

[Install]
WantedBy=multi-user.target
