[Unit]
Description=Enapter Hardware Initialization Service
ConditionPathExists=/user/etc/enapter/rwfs
StartLimitIntervalSec=0

[Service]
Type=forking

KillMode=mixed
Restart=on-failure
RestartSec=10

EnvironmentFile=-/user/etc/enapter/enapter-services-overrides.env
EnvironmentFile=-/user/etc/enapter/enapter-hardware-init.env

ExecStart=/usr/bin/enapter-hardware-init
ExecStartPost=-/user/bin/enapter-hardware-init

[Install]
WantedBy=multi-user.target default.target
