[Unit]
Description=Enapter NetworkManager Configurator Service
ConditionPathExists=/user/etc/enapter/rwfs
DefaultDependencies=no

Before=network-pre.target
Wants=network-pre.target

Wants=systemd-modules-load.service local-fs.target
After=systemd-modules-load.service local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/enapter-networkmanager-configurator
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
